/* Global Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Font Styling */
h1, h2 {
    font-family: "Young Serif", serif;
}

h2 {
    color: #854632;
    font-size: 2rem;
    font-weight: 500;
}

/* Body Styling */
body {
    color: #5F564D;
    font-family: "Outfit", sans-serif;
    background-color: #F3E5D7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
}

img {
    max-width: 100%;
    display: block;
}

/* Recipe Card Styling */
.container {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: white;
    max-width: 800px;
    height: auto;
    border-radius: 1rem;
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.recipe-image img{
    border-radius: 1rem;
}

.recipe-information h1 {
    color: #312E2C;
    font-size: 2.5rem;
    font-weight: 400;
    text-align: left;
    margin-bottom: 1rem;
}

.recipe-information p {
    line-height: 1.75rem;
    font-size: 1rem;
    margin-bottom: 2rem;
}

/* Preparation Card Styling */
.preparation-card {
    background-color: #FFF7FB;
    border-radius: 1rem;
    padding: 1.2rem;
    margin-bottom: 2rem;
}

.preparation-card h2 {
    color: #7A284E;
    font-family: "Outfit", sans-serif;
    font-size: 1.5rem;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

.preparation-card ul {
    padding-left: 2.5rem;
}

.preparation-card li {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.preparation-card, .ingredients li::marker {
    color: #7A284E;
}

.time-title {
    font-weight: bold;
    color: #5F564D;
}

/* Ingredients Styling */
.ingredients {
    padding-bottom: 2rem;
}

.ingredients h2 {
    padding-bottom: 1rem;
}

.ingredients ul {
    padding-left: 2rem;
}

.ingredients li {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

/* Instructions Styling */
.instructions {
    margin-top: 2rem;
    padding-bottom: 2rem;
}

.instructions h2 {
    margin-bottom: 1rem;
}

.instructions ol {
    padding-left: 2rem;
}

.instructions li {
    margin-bottom: 0.5rem;
    padding-left: 1rem;
}

.instructions li::marker {
    color: #854632;
}

.title {
    font-weight: 600;
}

/* Nutrition Info Styling */
.nutrition-info {
    margin-top: 2rem;
}

.nutrition-info h2 {
    margin-bottom: 1rem;
}

.nutrition-info p {
    margin-bottom: 1rem;
}


/* Horizontal Line Styling */
hr {
    border: none;
    border-top: 1px solid #E3DDD7;
}

/* Table Styling */
table {
    border-collapse: collapse;
    width: 100%;
}

.nutrition-title {
    padding-left: 2rem;
}

.nutrition-value {
    color: #854632;
    font-weight: 700;
    padding-left: 6rem;
}

table td {
    border-bottom: 1px solid #ccc;
    padding: 8px;
}

table td:last-child {
    border-right: none;
}

/*Media Query*/
@media (max-width: 768px) {
 
    .container {
        margin: 0;
        padding: 0;
        border-radius: 0;
    }

    .recipe-image img{
        padding: 0;
        border-radius: 0;
        margin-bottom: 2rem;
    }

    .recipe-information {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding: 4rem;
        margin-bottom: 0;
    }

    .recipe-information h1 {
        font-size: 3.5rem;
        text-align: left;
        line-height: 3rem;
        padding-bottom: 1rem;
    }

    .recipe-information p{
        font-size: 1.5rem;
        line-height: 2rem;
    }

    .preparation-card {
        margin: -2rem 4rem;
        padding-left: 4rem;
        width: 75%;
    }

    .preparation-card h2{
        font-size: 1.2rem;
    }

    .preparation-card ul {
        padding-left: 1rem;
    }

    .preparation-card li {
        margin-bottom: .5rem;
    }

    table {
        margin-bottom: 3rem;
    }

    .ingredients {
        padding: 4rem;
        margin-top: 0;
        margin-bottom: -2rem;
    }

    .instructions {
        padding: 4rem;
        margin-top: -2rem;
        margin-bottom: -2rem;
    }

    .nutrition-info {
        padding: 4rem;
        margin-top: -2rem;
        margin-bottom: -2rem;
    }
}

